<div class="task-item">
  @if (isEditing) {
    <!-- ngModel связывает поле ввода с переменной editTitle в обе стороны -->
    <input class="edit-input" type="text" [(ngModel)]="editTitle" appAutofocus />

    <div class="task-actions">
      <button class="link-button" (click)="saveEdit()">Сохранить</button>
      <button class="link-button" (click)="cancelEdit()">Отмена</button>
    </div>
  } @else {
    <input class="task-checkbox" type="checkbox" [checked]="task.done" (change)="toggle.emit(task.id)" />

    <!-- по названию можно перейти на страницу этой задачи -->
    <a class="task-title" [class.task-done]="task.done" [routerLink]="['/tasks', task.id]">
      {{ task.title }}
    </a>

    <div class="task-actions">
      <button class="link-button" (click)="startEdit()">Изменить</button>
      <button class="link-button link-danger" (click)="remove.emit(task.id)">Удалить</button>
    </div>
  }
</div>
